@using TheAfterParty.Domain.Entities
@using TheAfterParty.WebUI.Models.Auctions
@model AuctionsModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    @foreach (Auction auction in Model.OpenAuctions)
    {
        <div class="row">
            <div class="col-lg-3">
                img here
            </div>
            <div class="col-lg-3">
                @auction.Listing.ListingName
            </div>
            <div class="col-lg-3">
                created by @auction.Creator.UserName
            </div>
            <div class="col-lg-3">
                Time remaining @(auction.EndTime.Subtract(DateTime.Now).ToString("dd:hh:mm:ss"))
            </div>
        </div>
    }
</div>