@using TheAfterParty.Domain.Entities
@model ICollection<AppUser>

@{
    ViewBag.Title = "User Balances";
    Layout = "~/Areas/CoopShop/Views/Shared/_Layout.cshtml";
}

<h2>User Balances</h2>

@foreach (AppUser user in Model)
{
    <div>
        <div>@user.UserName</div>
        <div>@user.Balance</div>
    </div>
}

