@using TheAfterParty.WebUI.Models.Store
@using TheAfterParty.Domain.Entities;
@model StoreBalancesViewModel

@{
    ViewBag.Title = "User Balances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary">
    @if (Model.LoggedInUser != null)
    {
        <div class="panel-heading">
            Your balance
        </div>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Balance</th>
            </tr>
            <tr>
                <td class="text-left">@Model.LoggedInUser.UserName</td>
                <td>@Model.LoggedInUser.Balance</td>
            </tr>
        </table>
    }
    <div class="panel-heading">
        User Accounts
    </div>
    <table class="table table-striped">
        <tr>
            <th class="col-md-9">Name</th>
            <th class="col-md-3">Balance</th>
        </tr>
        @if (Model.Users.Count() == 0)
        {
            <tr>
                <td colspan="2" class="text-center">No User Accounts</td>
            </tr>
        }
        else {
            foreach (AppUser user in Model.Users)
            {
                <tr>
                    <td class="col-md-9">@user.UserName</td>
                    <td class="col-md-3">@user.Balance</td>
                </tr>
            }
        }
    </table>
</div> 