@using TheAfterParty.Domain.Entities
@model IEnumerable<Product>

@{
    ViewBag.Title = "Shop";
    Layout = "~/Areas/CoopShop/Views/Shared/_Layout.cshtml";
}

<h2>Inventory</h2>

@foreach (Product product in Model)
{
    <div>
        <div>@product.AppID</div>
        <div>@product.ItemName</div>
        <div>@product.Platform</div>
        <div>@product.StoreID</div>
    </div>
}
